@import url(fonts.css);


* { list-style:none;}
body { background-color:#F7F5F6; }

h1 { font-family: 'archerprolight'; font-weight:normal; }
h2 { font-family: 'Poppins', sans-serif; font-weight:400; }
h4,h5,h6 { font-family: 'Poppins', sans-serif; font-family:'EuclidFlex', sans-serif; font-weight:500;}
p { color:#64686D; font-size:14px; font-family: 'Poppins', sans-serif; font-weight:500;}

a { color:#FF4C4C; text-decoration:none;}
a:hover { color:#EB0D0D;}


/*bootstrap override css */
.input-group i{ color: #BBCBFF;}
.input-group .input-group-text{ border-color: #E0E7FF;    background-color:rgb(224 231 255 / 20%); }
.input-group.right-side-icon .form-control{ border-right: none;}
.input-group.right-side-icon .input-group-text{ border-left: none;}
.input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
  margin-left: 0px;}
  *:focus, *:active { outline: none !important; box-shadow: none !important;}





/* Button CSS */
.btn { font-size:14px; border-radius:5px; min-height: 40px;}
.btn-primary { background:#FF4C4C; border-color:#FF4C4C; }
.btn-default {background: rgb(224 231 255 / 20%);border: 1px solid #E0E7FF;}
.btn-secondary { background:#40424A;}
.btn-link { color:#F2134F; text-decoration:none; font-size:12px;}
.btn-success { background-color:#34BF49; border-color:#34BF49;}
/* Button Sizes  */


/* Form css */
.form-control:not(textarea), .form-select{ height: 40px; }
.radio-group { display: flex; background-color: rgb(255 255 255 / 20%); color: #2e384d; border: 1px solid #E0E7FF; height: 40px; padding: 8px; border-radius: 4px; }
.radio-group .form-check { margin: 0 8px 0px 0; display: inline-flex; align-items: center; }
.radio-group .form-check-label { font-size: 11px; margin-left: .35rem; margin-top: .15rem; }
.radio-group .form-check-input[type=radio] { width: 14px; height: 14px; }

/* Dropdown css */
.dropdown-item.active, .dropdown-item:active { background:#C40000;}

/* Table  */
.table-line > tbody > tr:nth-of-type(odd) > * { background:#F6F6F6;}

/* Login Page CSS */

.sidenav { height: 100%; background-color: #000; background: url("../img/left-sec-bg.jpg"); background-size: cover; background-position:right; padding-top: 20px; }
.sidenav .side-quote .inner {  padding: 40px 30px; }
.sidenav .side-quote .inner h1 { color:#fff; font-size:32px;}
.main { padding: 60px 10px; font-family: 'Poppins', sans-serif; font-size:12px; }
.main .login-main-text { text-align: center; margin-bottom:30px;}
.main .login-form .form-control { font-size:12px; padding:15px 10px; border:2px solid #ced4da;}
.main .login-form .form-control:focus { box-shadow:0 0 0 ;}
.main .form-group { position: relative;}
.main .form-group .label { position: absolute; top:15px; left:13px; display:none;}
.main .form-group .form-control:focus  {border: 2px solid royalblue; }
.main .form-group .form-control:focus + .label { display:block; top: -8px; padding: 0 3px; font-size: 12px; color: royalblue; background:#fff; font-size:10px; }
.main .btn-lg { padding:0.9rem 1rem;}
.main .form-group .select-user { position: absolute; top: 5px; right: 10px; border-radius: 50px; text-align: center; padding: 5px 9px 2px 8px;}
.main .form-group .select-user .dropdown-item { font-size:12px;}



@media screen and (max-width: 450px) {
.sidenav { min-height:150px;}
.sidenav .side-quote { display:none;}

}

@media screen and (min-width: 768px) {
.main{ margin-left: 50%; height: 100vh; align-items: center; display: flex; justify-content: center; }
.sidenav{ width: 50%; position: fixed; z-index: 1; top: 0; left: 0; display: flex; align-items: center; justify-content: end; }


.sidenav .side-quote .inner {  padding:50px; }
.sidenav .side-quote { width: 85%; background: url("../img/2.png"); background-size:cover; position: relative; right: -40px; }
.sidenav .side-quote::after { content:""; width: 0; height: 0; border-left: 40px solid #5D0707;border-bottom: 25px solid transparent; position:absolute; right:0; }

.sidebar { width: 18rem !important; }
}

@media screen and (min-width: 1024px)
{
.sidenav .side-quote .inner h1 { color:#fff; font-size:49px;}
}

/* Login Page CSS */



/* Dashboard CSS */
.page-wrapper { padding:24px 10px; display:flex; font-family:EuclidFlex; }
.sidebar { display:flex; flex-direction:column; width: 6.5rem; background:#FEFEFE; padding:20px; min-height: 90vh; transition: 0.4s ease-in; border-radius: 10px;}
.sidebar .logo { text-align: center; margin-top:50px; margin-bottom:60px;}
.sidebar .navbar-nav { flex-direction:column; margin:0 auto;}
.sidebar .navbar-nav span { display:block; font-size: 10px; margin-top: 5px; white-space: normal; word-break: inherit;}
.sidebar .navbar-nav .nav-item { margin-bottom:12px;}
.sidebar .navbar-nav .nav-link{ padding-left:0; font-size:14px; font-weight:500;}
.navbar-nav .show > .nav-link, .navbar-nav .nav-link.active { color:#C10000}
.sidebar .navbar-nav .nav-link .nav-icon { padding:10px; border-radius: 5px; background:#F7F6FB; color:#BEBEBE; font-size:12px;}
.sidebar .navbar-nav .nav-link.active .nav-icon {  background: #C10000; color:#ffffff; }
.sidebar .navbar-nav .subnav { background:#F5F5F5; border:none; padding-left:15px; padding-right:15px; border-radius:5px; margin-bottom:15px;}
.sidebar .navbar-nav .subnav .nav-item { margin-bottom:0;}
.sidebar .navbar-nav .subnav .nav-link{ font-weight:400; font-size:12px; position: relative; color:#1C1C1D; margin-bottom:0;}
.sidebar .navbar-nav .subnav .nav-link::after{ content:''; position: absolute; width:80%; height:1px; background:black; opacity:0.1; left:10%; bottom:0; }
.sidebar .navbar-nav .subnav li:last-child .nav-link::after  { opacity:0;}


.page-wrapper #content-wrapper { display:flex; flex-direction:column; width: 100%; padding-left: 40px; overflow-x: hidden;}
.page-wrapper #content-wrapper .navbar { padding:20px 30px; border-radius:10px;}
.page-wrapper #content-wrapper .navbar .greeting-text span{ font-size:12px; font-weight:400; }
.page-wrapper #content-wrapper .navbar .nav-link { margin-right:10px;}
.page-wrapper #content-wrapper .navbar .nav-link i{ font-size:15px;}
.page-wrapper #content-wrapper .navbar .nav-link.dropdown-toggle::after { content: '\f078'; font-family: "Font Awesome 6 free"; font-weight: 900; border: none; position: relative; top: 2px; background: red; font-size: 8px; color: white; padding: 1px 3px; border-radius:4px; }
.page-wrapper #content-wrapper .navbar .nav-link .img-profile { border-radius:8px; }


.stats-cards .cards-wrap { display:flex; justify-content:space-between; overflow-x: auto; }
.stats-cards .scard { padding:20px; margin-right: 10px; border:none; background:#fff; border-radius:10px;}
.stats-cards .scard .card-text { width:100%; min-width:100px; }
/* .stats-cards .scard .card-icon { } */
.stats-cards .scard span { font-weight:500; }
.stats-cards .scard h3 { font-family: 'Poppins', sans-serif; font-weight:500; line-height:1; color:#C40000; font-weight:600; margin-bottom:0; }
.stats-cards .scard img { max-width:50px; margin:2px 0; }




@media screen and (min-width: 768px) {
.page-wrapper { padding:24px 40px; display:flex; font-family:EuclidFlex; }
.sidebar { width: 22rem !important; padding:20px; }
/* .sidebar .logo { } */
.sidebar .navbar-nav .nav-item { position: relative;}
.sidebar .navbar-nav .nav-link  {padding-left:30px;}
/* .sidebar .navbar-nav .nav-link.active .nav-icon {  } */
.sidebar .navbar-nav .nav-link .nav-icon { position: absolute;left:-5px;top:8px; padding: 6px; border-radius: 5px; background:#F7F6FB;}
.sidebar .navbar-nav span { display:inline; font-size:16px;}
.sidebar .navbar-nav span::after{ content: ''; position: absolute; width: 85%; height: 1px; background:rgb(102 102 102 / 10%); right: 0; bottom: -5px;}
.navbar-expand-lg .navbar-nav .dropdown-menu { position: relative;}

@keyframes example {
    0%   {top:5px; opacity:0;}
    75%   {top:4px; opacity:0.5;}
    100% { top:0px; opacity:1;}
  }
ul.subnav.dropdown-menu.show { animation-name: example; animation-duration: 0.1s; }




.page-wrapper #content-wrapper { display:flex; flex-direction:column; width: 100%; padding-left: 40px; overflow-x: hidden;}

.stats-cards .cards-wrap { display:flex; }
/* .stats-cards .scard { } */
.stats-cards .scard span { font-weight:500; }
.stats-cards .scard h3 { font-family: 'Poppins', sans-serif; font-weight:500; line-height:1; color:#C40000; font-weight:600; margin-bottom:0; }
.stats-cards .scard img { max-width:50px; margin:2px 0; }
}

@media screen and (max-width:769px) {
    .sidebar { display:none; z-index: 1; box-shadow: 0px 0px 3px grey;}
    .sidebar .navbar-nav { width:100%;}
    .sidebar .navbar-nav .nav-link { text-align:center;}
    .sidebar .navbar-nav .subnav .nav-link { text-align:left;}
    .sidebar .navbar-nav .nav-link.dropdown-toggle::after { display:none; }
    .sidebar .navbar-nav .dropdown-menu { position: absolute; left: 70px; top: 5px; box-shadow: 0px 0px 5px rgb(128 128 128 / 50%); }
    .sidebar { padding:8px;}
    
    .page-wrapper #content-wrapper { padding-left:0px}

    /* .stats-cards .cards-wrap { } */
    .stats-cards .scard {  margin-right: 10px; }

}

@media screen and (min-width:1200px) {
    .stats-cards .scard { width:24%; }
    /* .stats-cards .cards-wrap { } */
    /* .stats-cards .scard {   } */
}




/* page body */

.page-body { border-radius:10px; padding:20px 10px; }
.page-body .page-heading { margin-top: 20px; }
.page-body .page-heading h5 { font-size:16px; font-weight:500; color:#000;}
.page-body .page-heading h3 { font-size:1.5rem; font-weight: 700;}
.page-body .employee-list { margin-top: 25px; width:100%;}


/* Employee Detail table */
.page-body .employee-list table { text-align:center; border: solid 1px #E0E7FF; border-radius: 10px;}
.page-body .employee-list th { background:#F8F8FE; font-weight:500; font-size:13px; text-align:center;}
.page-body .employee-list td { font-size:14px; padding: 0.8rem 0.5rem;}
.page-body .employee-list .action .dropdown-menu { background:#FF4C4C; color:#fff;}
.page-body .employee-list .action .dropdown-menu .dropdown-item { color:#fff; margin-top: 5px; margin-bottom: 5px;}
.page-body .employee-list .action .dropdown-item.active, .dropdown-item:active, .page-body .employee-list .action .dropdown-item:hover { background: #EB0D0D;}
.page-body .employee-list .badge { font-size:14px; font-weight:400; }
.page-body .employee-list .dataTables_info { padding-left:15px; color:#7C828A; font-size:14px;}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate { margin-top:10px; margin-bottom:10px;}
.page-body .employee-list .dataTables_wrapper .dataTables_paginate .paginate_button { min-width: initial; border: none; padding: 0.1em 0.7em; border-radius: 8px; font-size: 14px; font-weight: 500;}
.page-body .employee-list .dataTables_wrapper .dataTables_paginate .paginate_button.current, .page-body .employee-list .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover { background:#6E6E6E; color:#fff !important;}
.dataTables_wrapper .dataTables_filter input {  border-radius: 5px;}


.trash-can { padding: 30px; background: rgb(255 76 76 / 15%); color: #FF4C4C; border-radius: 100%; font-size: 30px; }


@media screen and (min-width:768px) {
    .page-body { border-radius:10px; padding:20px 30px; }



    .page-body .page-heading h5 { display:inline;}
}



/* Admin menu */
.admin-box{ margin-bottom: 20px;}
.admin-box-inner { background: rgb(247 245 246 / 29%); padding: 30px 15px; border: solid 1px #E7ECFF;border-radius: 10px; }
.action-btn .btn {  padding: 0.6rem 3rem;font-size: 0.8rem; text-transform: uppercase;}
.page-body .form-control, .page-body .form-select { font-size:13px; font-weight:500; background-color:rgb(224 231 255 / 20%); color:#2e384d; border-color:#E0E7FF; }
.admin-box .form-label { font-size:12px; margin-bottom:0.2rem; color:#8C98A9;}

/* Scheduling Screen Css */
.calendar-area { border-radius: 9px; max-height:90vh; border: 1px solid #E7ECFF; margin-top: 25px; overflow: auto; }
.nav-action .btn { min-width: 60px; }
.production-schedule { width: 100%; }
.production-schedule td { height: 120px; width: calc(100% / 8);min-width: 120px; padding: 0; margin: 0; border: 1px solid #E7ECFF; }
.days { text-align: center; text-transform: uppercase; background: #F9FAFF; height: 40px; }
.days th { font-size: 13px; font-weight: 600; }
.date th { font-size: 9px; text-align: center; font-style: italic; height: 24.5px; border: 1px solid #E7ECFF; background: #F9FAFF; }
.date .col-red{ background: #FF4C4C; border:0; }
/* Coordinator-card Css */
.coordinator-card { background: #ff4c4c; min-width: 150px; min-height: 120px; display: flex; height: 100%; align-items: center; padding: 12px; }
.info-card label { font-size: 10px; color: rgb(255 255 255 / 80%); font-weight: 500; display: block; }
.info-card strong { font-size: 15px; color: #fff; margin: 6px 0; }
.form-check{ min-height: initial;}
.info-card .form-check {padding-left: 16px;margin-bottom: 0;min-height: initial;}
.info-card .form-check .form-check-input { width: 9px; height: 9px; border-radius: 0; border: 0; margin-left: -16px; }
.lots td:first-child {border-left: 0;border-right: 0;}

.production-info{background: rgb(224 231 255 / 18%);height: 100%;padding: 12px;display: block;}
.production-info a { color: initial; }
.lot-info span { font-size: 9px; line-height: 17px; font-weight: 500; }
.lot-info { display: flex; flex-direction: column; margin-bottom: 9px; }
.dashed { margin: 0; border: 1px dashed #BAC8FC; }
a.text-blue { color: #0AAEFF; font-size: 11px; font-weight: 500; }

/* Popup Model and table css */
.list-inline { display: inline-flex; margin: 0; align-items: center; }
.list-inline li { position: relative; font-size:13px; }
.list-inline li:after { content: '|'; margin: 0 8px; }
.list-inline li:last-child:after { content: none; }
.table-outline th {font-size: 11px;font-weight: 500;vertical-align: super;background: #E0E7FF;/* padding: 10px 0; *//* text-align: center; */}
.table-outline td {font-size: 12px;color: #707070;padding: 6px;white-space: nowrap;}
.btn.radio-outline {border-color: #E0E7FF;font-size: 8px;/* border-radius: 3px; */padding: 5px 12px;/* line-height: 8px; */min-height: initial;}
input.check-yes:checked + .btn , input.check-no:checked + .btn {border:0; color: #fff; border-radius: 3px;}
input.check-yes:checked + .btn { background: #0099E5;}
input.check-no:checked + .btn { background: #FF4C4C;}
.table-outline .table{margin: 0;}
.table-striped > tbody > tr:nth-of-type(even) > * { --bs-table-accent-bg: #FAFAFA !important; }
.table-striped > tbody > tr:nth-of-type(odd) > * { --bs-table-accent-bg: #fff !important; }
.table-striped.table-red > tbody > tr:nth-of-type(even) > * { --bs-table-accent-bg: #FEDBDC !important; }
.table-responsive.table-outline { border-radius: 9px; border: 1px solid #E7ECFF; margin-top: 25px; overflow: auto; }
.table-red th { background: #ff4c4c; color: #fff; }

.dropdown-item.lot-info { margin: 0; }
.lot-count .dropdown-menu { background: #ff4c4c; padding:0; position: relative; }
/* .lot-count .dropdown-menu:before { content: ''; width: 20px; height: 20px; background: #ff4c4c; z-index: 1; position: absolute; top: -9px; left: 20px; transform: rotate(45deg); } */
.lot-count .dropdown-menu li{ padding: 6px 16px 0 16px; }
.lot-count .dropdown-menu a{ color: #fff; padding: 0 0px 6px 0; border-bottom: 1px solid rgb(255 255 255 / 20%); }
.lot-count .dropdown-menu a:active, .lot-count .dropdown-menu a:focus, .lot-count .dropdown-menu a:hover{ background:transparent; }
.lot-count .dropdown-menu li:last-child a{ border-bottom: none; }

/* ===== Scrollbar CSS ===== */
  * { scrollbar-width: auto; scrollbar-color: #0099e5 #dee0ed; }
  *::-webkit-scrollbar { width: 7px; Height: 7px; }
  *::-webkit-scrollbar-track { background: #dee0ed; }
  *::-webkit-scrollbar-thumb { background-color: #0099e5; border-radius: 10px; border: 0px solid #ffffff; }

/* Change lots community css */
  .community {background: rgb(247 245 246 / 30%);padding: 32px;border: 1px solid #E7ECFF;border-radius: 9px;margin-top: 25px;}
  .form-label { font-size: 12px; color: #8C98A9; }
  .community-step p { font-size: 13px; color: #000; font-weight: 500; font-family:'EuclidFlex', sans-serif; }
  .community-step .italic { font-style: italic; font-weight: 500;}
  .community-step-2 { background: #fff; border: 1px solid #E0E7FF; padding: 32px; }
  .community .table-responsive.table-outline { max-height: 220px; }

  /* Lots Page Css Start */
  .admin-box-inner .separator{ border-bottom: solid 1px #E7ECFF;height: 1px; margin: 30px -15px;}
  .custome-check {display: flex; flex-wrap: nowrap;}
  .custome-check label{font-size: 10px; margin-left: 5px; white-space: nowrap; }
  .custome-check .form-check{display: flex;  flex-grow: 1; flex-wrap: nowrap;}
 
  @media screen and (max-width:768px) {
    .custome-check .form-check{display: flex;  flex-grow: 1; flex-wrap: wrap;}
}


  /* breadcrumb */
  nav[aria-label="breadcrumb"] li, nav[aria-label="breadcrumb"] li a{font-size: 13px; color: #6c757d; }
  nav[aria-label="breadcrumb"]  .breadcrumb-item + .breadcrumb-item {padding-left: 3px;}
  nav[aria-label="breadcrumb"] li::before{content: ">" !important; padding-right: 2px !important;}
  nav[aria-label="breadcrumb"] li:first-child::before{display: none;}
   

  /* Lots Tabs Css Start */
.lots-tabs .tab-content{background: rgb(247 245 246 / 29%); padding: 30px 15px; border: solid 1px #E7ECFF;}
.lots-tabs .tab-content .tab-inner-bg{ background-color:#FFFFFF70 ; border:solid 1px #E7ECFF; padding:25px; width: 100%; height: 100%;border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; }
.lots-tabs .nav-tabs{ border-bottom: none;}
.lots-tabs .nav-tabs .nav-link{border: solid 1px #E7ECFF ; color: #2E384D; }
.lots-tabs .nav-tabs .nav-link.active{border: solid 1px #E7ECFF ; background: #fdfcfc; border-bottom: none;
  position: relative; bottom: -1px; z-index: 1;}   



   
 


  /* Responsive css start */
@media screen and (max-width:960px){
    form.calendar-action .row { display: flex; flex-direction: column; }
    .nav-action {display:flex; justify-content: end;}
    form.calendar-action .row div { width: 100%; }
    .list-inline {margin-bottom: 8px;}
}