*{
    padding:0px;
     margin:0px;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
    color: #D41313;
}

section p, .action{
    font-size: 14px;
}

.input-group {
    position: relative;
    margin: 20px 0px;
}

.input-group .input-area {
    outline: none;
    border: 2px solid #dadce0;
    padding: 9px 13px;
    width: 100%;
    font-size: 14px;
    border-radius: 5px;
}

.input-group .input-area:valid + .label {
    top: -8px;
    padding: 0 3px;
    font-size: 12px;
    color: #8d8d8d;
}

.input-group .input-area:focus {
    border: 2px solid royalblue;
}

.input-group .label {
    font-size: 14px;
    color: #8d8d8d;
    position: absolute;
    top: 9px;
    left: 13px;
    background: #ffffff;
}

.input-group .input-area:focus + .label {
    top: -8px;
    padding: 0 3px;
    font-size: 12px;
    color: #1A73E8;
}

.btn{
    font-size: 14px;
    text-align: center;
    background-color: #40424A;
    border-radius: 5px;
    color: #ffffff;
    padding: 14px;
    display:inline-block;
    width: 100%;
    margin: 20px 0px;
    transition: all 0.3s ease 0s;
}

.btn:hover{background-color:#2D2F36;
    transition: all 0.3s ease 0s;

}

.login-screen{
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
}

.right, .left{
    display: flex;
    justify-content: center;
    align-items: center;
}

.left{
    height: 200px;
}

.left{
    background: url('images/bg.jpg');
    background-size: cover;
}

section{
    text-align: center;
}

section h1,p {margin-bottom: 20px;}

form {
    width: 300px;
    margin-top: 32px;
}

.red-board{
    display: none;
}


@media screen and (min-width:900px) {
    .login-screen{flex-direction: row;
    height: 100vh;}
    .right, .left {
        display: flex;
        height: auto;
    }
    .right{
        width: 55%;
    }
    .left{
        width: 45%;
        position: relative;
    }
    .red-board{
        position:absolute;
        right: -90px;
        display: block;
    }
    .red-board p {
        padding: 50px 60px;
        font-family: ArcherPro, serif;
        font-size: 46px;
        font-weight: 300;
        color: #ffffff;
        position:absolute;

    }

}